<!DOCTYPE html>
<html>
<head>
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="fsa-count-words.js"></script>
    <script src="app.js"></script>
    <script src="factories/TweetsFactory.js"></script>
    <script src="factories/sentimentFactory.js"></script>
    <script src="controllers/MainController.js"></script>
    <script src="directives/tweet/tweet.js"></script>
</head>
<body ng-app="Twang">

    <div ng-controller="MainController">
        <form name="getTweetsForm" ng-submit="getTweets(search.handle)">
            Handle: <input type="text" ng-model="search.handle" />
            <button type="submit">Get Tweets</button>
            <button ng-click="getSentiment(search.handle)">Analyze Tweets</button>
        </form>

        <!--<h4>{{ sentiment }}</h4>-->
        </div>
        <!--<button ng-click="analyzeTweets(tweets)" ng-show="tweets">Analyze Tweets</button>-->
        <!--<div ng-repeat="analyzedWord in analyzedWords | orderBy:'count':true">-->
            <!--<h4>{{ analyzedWord.word }}</h4>-->
            <!--<h5>{{ analyzedWord.count }}</h5>-->
        <!--</div>-->
        <tweet the-tweet="tweet" ng-repeat="tweet in tweets"></tweet>
    </div>

</body>
</html>